<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60df86">  <td>20/06/09 12:42:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo1.getData1()[pri:0, instance:test.Demo1@3b084709]">getData1</td> 
  <td>main@852687460</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/09 12:42:26</td>   <td>2621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo1.getData2()[pri:0, instance:test.Demo1@3b084709]">getData2</td> 
  <td>main@852687460</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/09 12:42:27</td>   <td>4061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo1.postData1()[pri:0, instance:test.Demo1@3b084709]">postData1</td> 
  <td>main@852687460</td>   <td></td> </tr>
</table>
